@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
@import "https://fonts.googleapis.com/css?family=Open+Sans:100,300,600";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url("images/ocean.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.header {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  background: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Raleway", sans-serif;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 300px;
}

.logo {
  max-width: 20%;
  opacity: 0.7;
  margin: 10px 0px;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
}

h3 {
  font-size: 3rem;
  font-weight: 300;
}

article {
  width: 400px;
  margin: auto;
  float: left;
  padding: 50px;
}

article p {
  font-size: 11pt;
  line-height: 150%;
}

article a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 50px;
  background-color: rgba(83, 133, 193, 0.9);
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

article a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #FFF;
}

article a:active {
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFF;
}

.overlay h3 {
  font-size: 25pt;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(33, 87, 147, 0.7);
  font-weight: bold;
  display: flex;
}

.container {
  width: 1285px;
  margin: auto;
}


.activities {
  text-align: center;
  background-color: rgba(83, 133, 193, 0.6);
  height: 800px;
}

.activities header {
  padding-top: 50px;
  font-size: 30px;
  font-weight: lighter;
  font-weight: 100;
}

.flex {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  width: calc(100% - 25px);
  border: solid 1px #dbdbdb;
  margin-bottom: 2em;
  padding: 1.5em;
  height: 500px;
  margin: auto;
  text-transform: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 11pt;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.box:hover {
  background-color: rgba(255, 255, 255, 0.25);
  color: #FFF;
}

.box:active {
  background-color: rgba(0, 0, 0, 0.25);
  color: #FFF;
}

.box h3, a {
  display: inline-block;
  margin-top: 30px;
  font-weight: 300;
  text-decoration: none;
}

.box h3 {
  font-weight: 100;
  font-size: 20pt;
}

.box.person {
  border: solid 1px rgba(255, 255, 255, 0.25);
  padding: 3em 1.5em;
}

.box.person h3 {
  margin: 0;
}

.box.person .image {
  margin-bottom: 1em;
}

img {
  width: 80%;
  max-width: 250px;
  min-width: 100px;
  margin: auto;
}

.shrink {
  width: auto;
}

.bump {
  margin-top: 50px;
}

footer {
  background-color: rgba(255,255,255,0.4);
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 150px 15px 150px;
}

.copyright {
  font-size: 15pt;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  display: inline-block;
  margin-top: 30px;
}

.linkz {
  font-size: 30pt;
}


.linkz a {
  color: rgba(255,255,255,0.3);
}

.linkz a:hover {
  color: rgba(255,255,255,0.7);
}

.linkz a:active {
  color: rgba(0,0,0,0.3);
}


li {
  list-style-type: none;
  display: inline;
}


@media screen and (max-width: 1285px) {
  .overlay {
    display: inline-flex;
    height: 100%;
  }

  .container {
    width: 100%;
    margin: auto;
  }

  article {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
  }

  article:last-of-type {
    border-bottom: none;
  }


  footer{
    padding: 0px 75px 15px 75px;
  }

}

@media screen and (max-width: 1285px) {
  .overlay {
    height: 900px;
  }
}
